<div class="d-flex flex-wrap">
    {% set upload_files_exist = false %}
    {% if loaded_files[1] %}
    {% set upload_files_exist = true %}
    
        {% for doc in loaded_files[1] %}
            <h5>
                <span class="badge text-bg-success m-1">{{doc}}</span>
            </h5>
        {% endfor %}
    {% else %}
    
        <div class="alert alert-warning alert-dismissible fade show w-100" role="alert">
            <strong>No Data Available</strong> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
   
    
  </div>

<div class="d-grid gap-2">
    <button onclick="processData();" id="processing_btn" class="btn btn-primary mb-3 {% if not upload_files_exist %}disabled{% endif %}">
        Process Data
    </button>
</div>
<button class="btn btn-primary d-none mb-3 btn-block" id="loading_btn" type="button" disabled>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
   Processing...
</button>

<div id="responseContainer"></div> <!-- Container to display the response -->


<script>
    function processData() {
        // Display the response in the responseContainer div
        const responseContainer = document.getElementById('responseContainer');
        const processing_btn = document.getElementById('processing_btn');
        const loading_btn = document.getElementById('loading_btn');

        processing_btn.classList.add("d-none");
        loading_btn.classList.remove("d-none");
        if (!document.querySelector(".btn-primary").classList.contains("disabled")) {
            fetch('/process-data', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
            .then(response => response.json())
            .then(data => {
                
                // responseContainer.innerHTML = JSON.stringify(data);
                responseContainer.innerHTML = `<div class="alert alert-info alert-dismissible fade show w-100" role="alert">
                    <strong>Data Processing is Completed</strong> 
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>`;
                
                    processing_btn.classList.remove("d-none");
                    loading_btn.classList.add("d-none");
               
                
                
            })
            .catch(error => {
                // console.error('Error:', error);
                responseContainer.innerHTML = `<div class="alert alert-danger alert-dismissible fade show w-100" role="alert">
                    <strong>Error: Data Could not Process</strong> 
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>`;
            });
        }
        
    }
</script>